extends layout
block content
 .row.banner
 .col-12
 h1= title
 .row
 .col-12.col-lg-8
 p
 | Donation platforms is an online tool that facilitate the process of collecting and managing donations for various causes, whether personal, nonprofit, or creative projects.
